# vim temp files
*.swp
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*pb.cc
*pb.h
build
cmake-build-debug
cmake-build-release

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai *.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log path
make_config.mk
log/
lib/
output/

# DB
db/
dump/
src/dbsync/

# third party
gdb.txt
tags

# IDE
.vscode
.DS_Store

# generate
make_config.mk
src/*.d
src/build_version.cc

#cache
.cache

.idea/


#build
build/
buildtrees
deps
#pkg

#develop container
.devcontainer

# include codis fe javascript lib files
!codis/cmd/fe/assets/**

tests/tmp

git.sh
tools/pika_batch_ingest/vscode/
tools/pika_batch_ingest/build/
tools/pika_batch_ingest/data/
tools/pika_batch_ingest/mock/
tools/pika_batch_ingest/third/
tools/pika_batch_ingest/src/s3put/include/proto/manifest.pb.h
tools/pika_batch_ingest/src/s3put/include/proto/manifest.pb.cc
tools/pika_batch_ingest/vendor/lib/
conf/pika_slave.conf
conf/pika_master.conf
conf/pika_master.conftests/integration/pika
tests/integration/pika
src/redis-server
tools/pika_batch_ingest/third/redis
tools/pika_batch_ingest/third/ThreadPool

pika.py
sample_mock.py
tools/pika_batch_ingest/d100
tools/pika_batch_ingest/test.sh
tools/pika_batch_ingest/info_rocksdb.txt